{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}
{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-50 bg-secondary rounded align-items-center justify-content-center mx-0">
       <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Candidat <a style="float: right" href="{% url 'inscription:candidats' %}" class="btn btn-outline-warning">Ajouter</a>&nbsp;</h6>
                <form id="form1">
                    {% csrf_token %}

                    <div class="mb-3">

                        <div class="row">
                        <div class="col-sm-6">
                        <label class="form-label">Annee Academique</label>
                        <select class="form-control select" id="annee" name="annee">
                           
                            <option value="-1">Choisir l'année</option>
                                {% for liste_anne in annee %}
                                <option value="{{liste_anne.id}}">{{liste_anne.libelle}}</option>
                                {% endfor %}
                        </select>

                        </div>
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1" class="form-label">Promotion</label>
                            <select  class="form-control required select" id="promotion" name="promotion">
                                <option value="-1">Choisir la Promotion</option>
                                {% for liste in promotion %}
                                <option value="{{liste.id}}">{{liste.libelle}}</option>
                                {% endfor %}
                            </select>
                        </div>
                       

                        </div>
                        &nbsp;
                        <div class="row">
                        <div class="col-sm-6">
                        <button  type="button" id="btnaff" class="btn btn-primary">Afficher</button>
                        <button type="button" id="btnex" class="btn btn-success"><span id="btnexlbl"></span> Exporter</button>

                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-10">
                        <input style="float: left" class="form-control" type="file" title="matr/nom/postnom/prenom/sex/etat_civil/dtnaiss/lieunaiss/tel/email/adr" id="excelfile" name="excelfile">
                                </div>
                                <div class="col-sm-2">
                        <button style="float: right" type="button" id="btnimp" title="matr/nom/postnom/prenom/sex/etat_civil/dtnaiss/lieunaiss/tel/email/adr" class="btn btn-dark"><span id="btnimlbl"></span> Importer</button>
                                </div>
                            </div>
                        </div>

                        </div>

                    </div>


                </form>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Liste des Candidat

                            </button>



                        </h2>


                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">

                                <div class="table-responsive">
                                    <table id="tab_candidat" class="table table-hover dataTable table-striped table_custom border-style spacing5">
                                        <thead>
                                            <tr>
                                            <th>#</th>
                                            <th>code</th>
                                            <th>Nom</th>
                                            <th>Postnom</th>
                                            <th>Prenom</th>
                                            <th>Sexe</th>
                                            <th>Telephone</th>
                                            <th>Action</th>
                                           
                                            </tr>
                                        </thead>
                                        <tbody id="tbody" style="color: white">
                                            {% for ligne in candidat  %}
                                            <tr>
                                                <td>{{ligne.candidat_id}}</td>
                                                <td>{{ligne.candidat__code_candidat}}</td>
                                                <td>{{ligne.candidat__nom}}</td>
                                                <td>{{ligne.candidat__postnom}}</td>
                                                <td>{{ligne.candidat__prenom}}</td>
                                                <td>{{ligne.candidat__sexe}}</td>
                                                <td>{{ligne.candidat__telephone}}</td>
                                                <td> <button data-id="{{ligne.candidat_id}}" class="btn btn-success btn-circle editerUser"><i class="fa fa-edit"></i></button>
                                                    <button data-id="{{ligne.candidat_id}}" class="btn btn-warning btn-circle deleteUser"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}

<script>
    (function() {
        $('.select').select2();
        $("#telephone").on('input', function(){
            if(isNaN($("#telephone").val())){
                $("#telephone").val('');
            }
        })

        $('#tab_candidat').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print', 'copy', 'excel', 'pdf'
            ],
            "bProcessing": true,
            order:[[0,"DESC"]],
             "pageLength": 10,
             "bDestroy":true
        });

        $('#btnaff').click(function(){
             if($('#annee').val()!='-1'){
                let tab=[$('#annee').val(),$('#promotion').val()];
                $.ajax({
                    url:"/liste_par_anne/"+tab,
                    type:"GET",
                    async:true,
                    success: function(response){
                        console.log(response.data);
                        if (response.data.length > 0) {
                            $("#tab_candidat > tbody").html("");
                            var row_tab= $('#tab_candidat');
                            $.each(response.data, function(key,value){
                                row_tab.append('<tr><td>'+ value.candidat_id +'</td><td>'+ value.candidat__code_candidat +'</td><td>'+ value.candidat__nom +'</td><td>'+ value.candidat__postnom +'</td><td>'+ value.candidat__prenom +'</td><td>'+ value.candidat__sexe +'</td><td>'+ value.candidat__telephone +'</td><td><button data-id='+value.candidat_id+' class="btn btn-success btn-circle editerUser"><i class="fa fa-edit"></i></button><button data-id='+value.candidat_id+' class="btn btn-warning btn-circle deleteUser"><i class="fa fa-trash"></i></button></td></tr>');
                            });
                          
                        }
                        else{
                            $("#tab_candidat > tbody").html("");
                        }
                    }
                });

             }   
        });

     

    })();

    function affichage (params = []){


    }






</script>
{% endblock %}