{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}
{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-50 bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content backgroundColor-transparent">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
       <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Candidat <a style="float: right" href="{% url 'inscription:candidats' %}" class="btn btn-outline-warning">Ajouter</a>&nbsp;</h6>
                <form id="form1">
                    {% csrf_token %}

                    <div class="mb-3">

                        <div class="row">
                        <div class="col-sm-6">
                        <label class="form-label">Annee Academique</label>
                        <select class="form-control select" id="annee" name="annee">
                           
                            <option value="-1">Choisir l'année</option>
                                {% for liste_anne in annee %}
                                <option value="{{liste_anne.id}}">{{liste_anne.libelle}}</option>
                                {% endfor %}
                        </select>

                        </div>
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1" class="form-label">Promotion</label>
                            <select  class="form-control required select" id="promotion" name="promotion">
                                <option value="-1">Choisir la Promotion</option>
                                {% for liste in promotion %}
                                <option value="{{liste.id}}">{{liste.libelle}}</option>
                                {% endfor %}
                            </select>
                        </div>
                       

                        </div>
                        &nbsp;
                        <div class="row">
                        <div class="col-sm-4">
                        <button  type="button" id="btnaff" class="btn btn-primary">Afficher</button>

                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                        <input style="float: left" class="form-control" type="file"  id="excelfile" name="excelfile">
                                </div>
                                <div class="col-sm-6">
                                    <button style="float: right" type="button"  class="btn btn-dark" id="nouveau"><span id="gs"></span>Candidat reussi</button>
                        <button style="float: center" type="button"  class="btn btn-dark" id="Importer"><span id="g"></span> Importer le Candidat</button>
                        
                                </div>
                            </div>
                        </div>

                        </div>

                    </div>


                </form>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Liste des Candidat

                            </button>



                        </h2>


                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">

                                <div class="table-responsive">
                                    <table id="tab_candidat" class="table table-hover dataTable table-striped table_custom border-style spacing5">
                                        <thead>
                                            <tr>
                                            <th>#</th>
                                            <th>code</th>
                                            <th>Nom</th>
                                            <th>Postnom</th>
                                            <th>Prenom</th>
                                            <th>Sexe</th>
                                            <th>Telephone</th>
                                            <th>Statut</th>
                                            <th>Action</th>
                                           
                                            </tr>
                                        </thead>
                                        <tbody id="tbody" style="color: white">
                                            {% for ligne in candidat  %}
                                            <tr>
                                                <td>{{ligne.candidat_id}}</td>
                                                <td>{{ligne.candidat__code__code_candi}}</td>
                                                <td>{{ligne.candidat__nom}}</td>
                                                <td>{{ligne.candidat__postnom}}</td>
                                                <td>{{ligne.candidat__prenom}}</td>
                                                <td>{{ligne.candidat__sexe}}</td>
                                                <td>{{ligne.candidat__telephone}}</td>
                                                <td>
                                                    {% if ligne.candidat__reussie == '1'  %}
                                                        Etudiant
                                                    {% else %}
                                                            Candidat au test
                                                    {% endif %}
                                                </td>
                                                <td> <button data-id="{{ligne.candidat_id}}" class="btn btn-success btn-circle editcandidat"><i class="fa fa-edit"></i></button>
                                                    <button data-id="{{ligne.candidat_id}}" class="btn btn-success btn-circle check"><i class="fa fa-check"></i></button>
                                                    <button data-id="{{ligne.candidat_id}}" class="btn btn-warning btn-circle deleteUser"><i class="fa fa-trash"></i></button>
                                                    
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}

<script>
    (function() {
        $('.select').select2();
        $("#telephone").on('input', function(){
            if(isNaN($("#telephone").val())){
                $("#telephone").val('');
            }
        })

        $('#tab_candidat').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print', 'copy', 'excel', 'pdf'
            ],
            "bProcessing": true,
            order:[[0,"DESC"]],
             "pageLength": 10,
             "bDestroy":true
        });

        $('#btnaff').click(function(){
             if($('#annee').val()!='-1'){
                let tab=[$('#annee').val(),$('#promotion').val()];
                $.ajax({
                    url:"/liste_par_anne/"+tab,
                    type:"GET",
                    async:true,
                    success: function(response){
                        console.log(response.data);
                        if (response.data.length > 0) {
                            $("#tab_candidat > tbody").html("");
                            var row_tab= $('#tab_candidat');
                            let statut='';
                            $.each(response.data, function(key,value){
                                statut = value.candidat__reussie == '1' ? 'Etudiant':'Candidat au test';
                                row_tab.append('<tr><td>'+ value.candidat_id +'</td><td>'+ value.candidat__code__code_candi +'</td><td>'+ value.candidat__nom +'</td><td>'+ value.candidat__postnom +'</td><td>'+ value.candidat__prenom +'</td><td>'+ value.candidat__sexe +'</td><td>'+ value.candidat__telephone +'</td><td>'+ statut +'</td><td><button data-id='+value.candidat_id+' class="btn btn-success btn-circle editerUser"><i class="fa fa-edit"></i></button> <button data-id='+value.candidat_id+' class="btn btn-warning btn-circle check"><i class="fa fa-check"></i></button> <button data-id='+value.candidat_id+' class="btn btn-warning btn-circle deleteUser"><i class="fa fa-trash"></i></button></td></tr>');
                            });
                          
                        }
                        else{
                            $("#tab_candidat > tbody").html("");
                        }
                    }
                });

             }   
        });
        $('body').delegate('.editcandidat','click',function(e){
            var idd=$(this).data('id');
            window.location.href = ("/get_id_candidat/" + idd);

        });

        $('body').delegate('.check','click',function(e){
            var idd=$(this).data('id');
            Swal.fire({
                title: 'Univa Application',
                html: "voulez vous que ce candidat devienne etudiant",
                width: 600,
                padding: '3em',
                showDenyButton: true,
                confirmButtonText: `Enregistrer`,
                denyButtonText: `Annuler`,
            }).then((result) =>{
                if(result.isConfirmed){
                    if($('#annee').val()!='-1' && $('#promotion').val()!='-1'){
                        $.ajax({
                            url:"{% url 'inscription:edit_etudiant' %}",
                            type:"POST",
                            async: true,
                            data:{id:idd,
                                  annee:$('#annee').val(),
                                  promotion:$('#promotion').val(),
                                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                            success:function(response){
                                if(response.status == 200){
                                    window.location.reload(); 
                                }
                                else{
                                    Swal.fire('Univa Application', 'operation annuler', 'error')
                                }
                            },
                            error:function(response){
                                console.log(response.success);
                            }
                        });
                    }
                    else{
                        Swal.fire('Univa Application', 'veuillez verifier les zonnes de select', 'error')
                    }
                       

                }
                else if(result.isDenied){
                    Swal.fire('Univa Application', 'operation echoué', 'error')
                }
            });

        });

        $('body').delegate('.deleteUser','click',function(e){
            var idd=$(this).data('id');
            Swal.fire({
                title: 'Univa Application',
                html: "voulez vous que ce candidat devienne inaccessible",
                width: 600,
                padding: '3em',
                showDenyButton: true,
                confirmButtonText: `Enregistrer`,
                denyButtonText: `Annuler`,
            }).then((result) =>{
                if(result.isConfirmed){
                        $.ajax({
                            url:"{% url 'inscription:desapprov' %}",
                            type:"POST",
                            async: true,
                            data:{id:idd,
                                  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                            success:function(response){
                                if(response.status == 200){
                                    window.location.reload(); 
                                }
                                else{
                                    Swal.fire('Univa Application', 'operation annuler', 'error')
                                }
                            },
                            error:function(response){
                                console.log(response.success);
                            }
                        });
                  
                       

                }
                else if(result.isDenied){
                    Swal.fire('Univa Application', 'operation echoué', 'error')
                }
            });

        });







        $('#Importer').click(function(){
            if($('#annee').val()!='-1' && $('#promotion').val()!='-1'){
                var form_data = new FormData();
                var ins = document.getElementById('excelfile').files.length;
                    if(ins == 0){
                        $.toast({
                            heading: 'Erreur',
                            text: "veuillez choisir le fichier excel",
                            icon: 'error',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#9EC600'  // To change the background
                        });  
                    } 
                      else {
                                csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
                                form_data.append("csrfmiddlewaretoken", csrf_token);
                                form_data.append("excelfile", document.getElementById('excelfile').files[0])
                                form_data.append("importation", 1);
                                form_data.append("promotion", $('#promotion').val());
                                form_data.append("annee", $('#annee').val());

                                $.ajax({
                                    url: "{% url 'inscription:listes_candidats' %}",
                                type: 'post',
                                data:form_data,
                                cache: false,
                                enctype: 'multipart/form-data',
                                processData: false,
                                contentType: false,
                                success: function(d){
                                    if(d.statut == 200){
                                        window.location.reload();
                                    }
                                    else if (d.statut == 300){
                                        $.toast({
                                            heading: 'Erreur',
                                            text: "importation echoué",
                                            icon: 'error',
                                            loader: true,        // Change it to false to disable loader
                                            loaderBg: '#9EC600'  // To change the background
                                        });
                                    }
        
        
                                },
                                error: function(request, status, err) {
                                    $('#btnimlbl').attr('class','');
                                    $.toast({
                                            heading: 'Erreur',
                                            text: request + status + err,
                                            icon: 'error',
                                            loader: true,        // Change it to false to disable loader
                                            loaderBg: '#9EC600'  // To change the background
                                        });
                                }
                                });
                      }

            }
            else {
                $.toast({
                    heading: 'Erreur',
                    text: "veuillez choisir les zones",
                    icon: 'error',
                    loader: true,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                });
            }
        });

        $('#nouveau').click(function(){
            if($('#annee').val()!='-1' && $('#promotion').val()!='-1'){
                var form_data = new FormData();
                var ins = document.getElementById('excelfile').files.length;
                    if(ins == 0){
                        $.toast({
                            heading: 'Erreur',
                            text: "veuillez choisir le fichier excel",
                            icon: 'error',
                            loader: true,        // Change it to false to disable loader
                            loaderBg: '#9EC600'  // To change the background
                        });  
                    } 
                      else {
                                csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
                                form_data.append("csrfmiddlewaretoken", csrf_token);
                                form_data.append("excelfile", document.getElementById('excelfile').files[0])
                                form_data.append("candidat_reussie", 1);
                                form_data.append("promotion", $('#promotion').val());
                                form_data.append("annee", $('#annee').val());

                                $.ajax({
                                url: "{% url 'inscription:listes_candidats' %}",
                                type: 'post',
                                data:form_data,
                                cache: false,
                                enctype: 'multipart/form-data',
                                processData: false,
                                contentType: false,
                                success: function(d){
                                    if(d.status == 200){
                                        window.location.reload();
                                    }
                                    else {
                                        $.toast({
                                            heading: 'Erreur',
                                            text: "importation echoué",
                                            icon: 'error',
                                            loader: true,        // Change it to false to disable loader
                                            loaderBg: '#9EC600'  // To change the background
                                        });
                                    }
        
        
                                },
                                error: function(request, status, err) {
                                    $('#btnimlbl').attr('class','');
                                    $.toast({
                                            heading: 'Erreur',
                                            text: request + status + err,
                                            icon: 'error',
                                            loader: true,        // Change it to false to disable loader
                                            loaderBg: '#9EC600'  // To change the background
                                        });
                                }
                                });
                      }

            }
            else {
                $.toast({
                    heading: 'Erreur',
                    text: "veuillez choisir les zones",
                    icon: 'error',
                    loader: true,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                });
            }
        });
     

    })();

    function affichage (params = []){


    }






</script>
{% endblock %}