{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}


{% block content %}

 <div class="container-fluid pt-4 px-4">
                <div class="row vh-50 bg-secondary rounded mx-0">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Paiment Inscription</h6>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-dismissible alert-success">
                                    <strong>{{message}}</strong>
                                    </div>
                                {% endfor %}
                                {% endif %}
                            <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                           
                                         <div class="row mb-3">

                                    <div class="col-sm-6">
                                           <label class="form-label">Annee Academique</label>
                                            <select class="form-control select" id="annee" name="annee">
                                                <option value="-1">Choisir année</option>
                                                {% for foo in annee %}
                                                <option value="{{ foo.id }}"selected>{{ foo.libelle }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="exampleInputEmail1" class="form-label">Type</label>
                                        <select  class="form-control required select" id="promotion" name="promotion">
                                            <option value="-1">Type de frais</option>
                                            {% for foo in frais %}
                                            <option value="{{ foo.id }}">{{ foo.libelle }}</option>
                                            {% endfor %}
                                        </select>
                                        {% for foo in frais %}
                                              <input type="hidden" class="form-control" name="m" id="{{ foo.id }}" value="{{ foo.montant }}">
                                            {% endfor %}
                                        </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Code valide</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="code" id="code" value='{{code}}' required>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="checkbox"  name="" id="checking" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Montant</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="Montant" id="Montant" required>
                                    </div>
                                </div>
                                 <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Candidat</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Candidat" id="Candidat" required>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                <button type="submit" class="btn btn-success" name="saving">Enregistrer </button>
                                <button type="reset" class="btn btn-danger" name="_save">Annuler</button>
                                </div>
                            </form></br></br>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item bg-transparent">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Liste de paiement de candidat
            
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                                        <div class="accordion-body">
            
                                            <div class="table-responsive">
                                                <table id="tab_paiement_cand" class="table table-hover dataTable table-striped table_custom border-style spacing5">
                                                    <thead>
                                                        <tr>
                                                        <th>#</th>
                                                        <th>Annee</th>
                                                        <th>Date Paie</th>
                                                        <th>Devise</th>
                                                        <th>Montant</th>
                                                        <th>Code Paiement</th>
                                                        <th>Candidat</th>
                                                        <th>Action</th>
                                                       
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbody" style="color: white">
                                                   
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 </div>

{% endblock %}


 {% block script %}

    <script>
        (function() {
            $('.select').select2();
            //document.getElementById('Montant').readonly = false;
            $("#code").prop("readonly", true);
            $("#Montant").prop("readonly", true);
            affiche_paiement();

            $("#telephone").on('input', function(){
                if(isNaN($("#telephone").val())){
                    $("#telephone").val('');
                }
            })
            $('#checking').change(function(){
                if (document.getElementById("checking").checked){
                    $("#code").prop("readonly", false);
                }
                else {
                    $("#code").prop("readonly", true);
                }
            });

            $("#promotion").change(function(){
                if($("#promotion").val()!='-1'){
                    let code=$("#promotion").val();
                    let montant=$("#"+code).val();
                    $('#Montant').val(montant);
                }
            });
            $('body').delegate('.editerpaiement','click',function(e){
                var idd=$(this).data('id');
                    $.ajax({
                        url:"{% url 'inscription:getpaiement' %}",
                        type:"POST",
                        async:true,
                        data:{
                            id:idd,
                            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function(response){
                            if(response.data !=0){
                               $("#code").val(response.data[0].code_candi); 
                               $("#Candidat").val(response.data[0].observation);
                               $("#Montant").val(response.data[0].montant);
                               $("#annee").val(response.data[0].prix__anne_id); 
                               $("#annee").change(); 
                               $("#promotion").val(response.data[0].prix_id); 
                               $("#promotion").change();
         
                            }
                        }

                    });
            });
            
            $('body').delegate('.deletepaiement','click',function(e){
                var idd=$(this).data('id');
                Swal.fire({
                    title: 'Univa Application',
                    html: "voulez vous supprimer ce paiement",
                    width: 600,
                    padding: '3em',
                    showDenyButton: true,
                    confirmButtonText: `supprimer`,
                    denyButtonText: `Annuler`,
                }).then((result) =>{
                    if(result.isConfirmed){
                        $.ajax({
                            url:"{% url 'inscription:delete_paie_candi' %}",
                            type:"POST",
                            async:true,
                            data:{
                                id:idd,
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                            },
                            success: function(response){
                                if(response.status == 200){
                                    Swal.fire("Univa","operation effectuée",'success');
                                    affiche_paiement();
                                }
                                
                            },
                            error: function(response){
                                if(response.status == 500){
                                    Swal.fire("Univa","ce paiement est lié à un candidat",'info');
                                }
                                //console.log(response.success);
                            }
    
                        });

                    }
                    else if(result.isdenied){
                        Swal.fire("Univa","operation annulée",'info');
                    }
                  
            });
        });

            
          
        })();

        function affiche_paiement() {
            var otableau = $('#tab_paiement_cand').DataTable({
               dom: 'Bfrtip',
               buttons: [
                  'print', 'copy', 'excel', 'pdf'
               ],
               "bProcessing": true,
               "sAjaxSource": "{% url 'inscription:getpaiement_all' %}",
               "columns": [{
                     "data": 'id'
                  },
                  {
                     "data": 'prix__anne__libelle'
                  },
                  {
                     "data": 'created_at', "autoWidth": true, "render": function(data){
                        var date_test = new Date(data).toLocaleDateString();
                         return date_test;
                     }
                  },
                  {
                    "data": 'prix__devise'
                 },
                 {
                    "data": 'montant'
                 },
                 {
                    "data": 'code_candi'
                 },
                  {
                     "data": 'observation'
                  },
                  {
                     "data": 'id',
                     "autoWidth": true,
                     "render": function(data) {
                        return '<button data-id='+data+' class="btn btn-success btn-circle editerpaiement"><i class="fa fa-edit"></i></button> <button data-id='+data+' class="btn btn-warning btn-circle deletepaiement"><i class="fa fa-trash"></i></button>';
                     }
                  }
      
               ],
               "bProcessing": true,
                order:[[0,"DESC"]],
                "pageLength": 10,
                "bDestroy":true
            });
      
         }

    </script>
{% endblock %}