{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}


{% block content %}

 <div class="container-fluid pt-4 px-4">
                <div class="row vh-50 bg-secondary rounded mx-0">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Ajouter Frais Classe</h6>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-dismissible alert-success">
                                    <strong>{{message}}</strong>
                                    </div>
                                {% endfor %}
                                {% endif %}
                            <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                           
                                         <div class="row mb-3">

                                    <div class="col-sm-6">
                                           <label class="form-label">Annee Academique</label>
                                            <select class="form-control select" id="annee" name="anee">
                                                <option value="-1">Choisir année</option>
                                                {% for foo in annee %}
                                                <option value="{{ foo.id }}"selected>{{ foo.libelle }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="exampleInputEmail1" class="form-label">Promotion</label>
                                        <select  class="form-control required select" id="promotion" name="promotion">
                                            <option value="-1">Choisir La promotion</option>
                                            {% for foo in promotion %}
                                            <option value="{{ foo.id }}">{{ foo.libelle }}</option>
                                            {% endfor %}
                                        </select>
                                      
                                </div>
                            </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Frais</label>
                                    <div class="col-sm-5">
                                        <select  class="form-control required select" id="frais" name="frais">
                                            <option value="-1">Choisir type Frais</option>
                                            {% for foo in frais %}
                                            <option value="{{ foo.id }}">{{ foo.type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Devise</label>
                                    <div class="col-sm-5">
                                        <select  class="form-control required select" id="devise" name="devise">
                                            <option value="-1">Choisir la devise</option>
                                            <option value="USD">USD</option>
                                            <option value="CDF">CDF</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Montant</label>
                                    <div class="col-sm-5">
                                        <input type="number" class="form-control" name="Montant" id="Montant" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Nbre Tranche</label>
                                    <div class="col-sm-5">
                                        <input type="number" class="form-control" name="nbre" id="nbre" required>
                                    </div>
                                    <div class="col-sm-5">
                                        <button type="button" class="btn btn-success" name="saving" id='btntrancher'>Trancher</button>
                                    </div>
                                </div>
                                <div class="row mb-3" id="affichage"> 
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Tranche</label>
                                  
                                </div>
                                <div class="row mb-3" id="affichage_code" style="display: none"> 
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">partie</label>
                                  
                                </div>
                                <div class="col-sm-12">
                                <button type="submit" class="btn btn-success" name="saving">Sauvegarder </button>
                                <button type="button" class="btn btn-primary" name="saving" id='btnliste'>Print Frais</button>
                                <button type="button" class="btn btn-primary" name="saving" id='btndetail'>Print tranche de Frais</button>
                                <button type="reset" class="btn btn-danger" name="_save">Annuler</button>
                                </div>
                            </form></br></br>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item bg-transparent">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Liste de Frais par Promotion
            
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                                        <div class="accordion-body">
            
                                            <div class="table-responsive">
                                                <table id="tab_frais_classe" class="table table-hover dataTable table-striped table_custom border-style spacing5">
                                                    <thead>
                                                        <tr>
                                                        <th>#</th>
                                                        <th>Annee</th>
                                                        <th>Promotion</th>
                                                        <th>Frais</th>
                                                        <th>Devise</th>
                                                        <th>Montant</th>
                                                        <th>Action</th>
                                                       
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbody" style="color: white">
                                                       {% for ligne_paie in Frais_classe  %}
                                                        <tr>
                                                            <td>{{ligne_paie.id}}</td> 
                                                            <td>{{ligne_paie.anne__libelle}}</td> 
                                                            <td>{{ligne_paie.promotion__libelle}}</td>   
                                                            <td>{{ligne_paie.frais__type}}</td>
                                                            <td>{{ligne_paie.devise}}</td>
                                                            <td>{{ligne_paie.montant}}</td> 
                                                            <td> <button data-id="{{ligne_paie.id}}" class="btn btn-success btn-circle edit_frais"><i class="fa fa-edit"></i></button>
                                                                <button data-id="{{ligne_paie.id}}" class="btn btn-warning btn-circle delete_frais"><i class="fa fa-trash"></i></button>
                                                            </td> 
                                                        </tr>
                                                       {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 </div>

{% endblock %}


 {% block script %}

    <script>
        let var_int=0;
        (function() {

            
            $('#tab_frais_classe').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'print', 'copy', 'excel', 'pdf'
                ],
                "bProcessing": true,
                order:[[0,"DESC"]],
                 "pageLength": 10,
                 "bDestroy":true
            });
            $('.select').select2();
            //document.getElementById('Montant').readonly = false;
            $("#code").prop("readonly", true);
           


            $("#telephone").on('input', function(){
                if(isNaN($("#telephone").val())){
                    $("#telephone").val('');
                }
            })
            $('#checking').change(function(){
                if (document.getElementById("checking").checked){
                    $("#code").prop("readonly", false);
                }
                else {
                    $("#code").prop("readonly", true);
                }
            });

            $('#nbre').on('input', function(){
                if ($('#nbre').val() > 3){
                    $('#nbre').val(''); 
                }

            });

            $("#promotion").change(function(){
                if($("#promotion").val()!='-1'){
                    let code=$("#promotion").val();
                    let montant=$("#"+code).val();
                    $('#Montant').val(montant);
                }
            });
            $('body').delegate('.delete_frais','click',function(e){
                var code=$(this).data('id');

                Swal.fire({
                    title: 'Univa Application',
                    html: "voulez vous supprimer ce paiement",
                    width: 600,
                    padding: '3em',
                    showDenyButton: true,
                    confirmButtonText: `delete`,
                    denyButtonText: `Annuler`,
                }).then((result) =>{
                    if(result.isConfirmed){
                        $.ajax({
                            url:"{% url 'paiement:delete_frais_classe' %}",
                            type:"POST",
                            async:false,
                            data:{
                                id:code,
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                            },
                            success: function(response){
                                if(response.status == 200){
                                   window.location.reload(); 
                                }
                                console.log(response.success);
                                //alert("response.status");
                              
                            },
                            error: function(response){
                                console.log(response.success);
                            }
        
                        });
                    }
                    else if(result.isDenied){
                        Swal.fire('Univa Application','operation annuler','danger')
                    }
                });  
              
                
                    

            });
            $('body').delegate('.edit_frais','click',function(e){
                var idd=$(this).data('id');
                    $.ajax({
                        url:"{% url 'paiement:getfrais' %}",
                        type:"POST",
                        async:true,
                        data:{
                            id:idd,
                            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function(response){
                            response.frais_classe
                            $('#annee').val(response.frais_classe[0].anne_id);
                            $('#annee').change();
                            $('#promotion').val(response.frais_classe[0].promotion_id);
                            $('#promotion').change();
                            $('#frais').val(response.frais_classe[0].frais_id);
                            $('#frais').change();
                            $('#devise').val(response.frais_classe[0].devise);
                            $('#devise').change();
                            $('#Montant').val(response.frais_classe[0].montant);
                            $('#nbre').val(response.frais_tranche.length);
                            if(response.frais_tranche.length > 0) {
                                $('#affichage').html('');
                                $('#affichage_code').html('');
                                let var_input ="";
                                let var_inputs ="";
                                let nbre=1;
                                $.each(response.frais_tranche, function(key,value) {
                                    var_input +="<div class='col-sm-3'><input type='number' class='form-control' name='plage"+value.id+"' id='plage"+value.id+"' value='"+value.montant+"' required></div>";
                                    var_inputs+="<div class='col-sm-3'><input type='hidden' class='form-control' name='code"+value.id+"' id='code"+value.id+"' value='"+value.id+"' required></div>";
                                    nbre++;
                                });
                                $('#affichage').append('<label for="inputPassword3" class="col-sm-2 col-form-label">Tranche</label>');
                                $('#affichage').append(var_input);
                                $('#affichage_code').append(var_inputs);
                                $("#btntrancher").prop("disabled", true);
                            }
                        }

                    });
            });
      
           $('#btntrancher').click(function(){
            let nbre=parseInt($("#nbre").val());
            var_int=0;
            $('#affichage').html('');
            $('#affichage').append('<label for="inputPassword3" class="col-sm-2 col-form-label">Tranche</label>');
            if(nbre === 1 && var_int === 0){
                let var_input ="<div class='col-sm-5'><input type='number' class='form-control' name='plage"+nbre+"' id='plage"+nbre+"' required></div>"; 
                $('#affichage').append(var_input);
                var_int++;
            }
            else if(nbre > 1 && var_int === 0) {
                let var_input ="";
                for(var i = 1; i <= nbre; i++) {
                    var_input +="<div class='col-sm-3'><input type='number' class='form-control' name='plage"+i+"' id='plage"+i+"' required></div>" 
                }
                $('#affichage').append(var_input);
                var_int++;
            }
           });

           $('#btnliste').click(function(){
            if($('#annee').val()!='-1' && $('#promotion').val()!='-1'){
                $.ajax({
                    url: "{% url 'paiement:liste_frais' %}",
                    type: "POST",
                    async: true,
                    data:{
                        id_annee:$("#annee").val(),
                        id_classe:$('#promotion').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function(response){
                        if(response =="true"){
                             window.open('{{ MEDIA_URL }}liste_frais_classe.pdf');
                             }
    
                    },
                    error: function(request, status, err) {
                        alert((status == "timeout") ? "Timeout" : "error: " + request + status + err);
                    }
                   })
              }

           });

           $('#btndetail').click(function(){
            if($('#annee').val()!='-1' && $('#promotion').val()!='-1'){
                $.ajax({
                    url: "{% url 'paiement:liste_detail' %}",
                    type: "POST",
                    async: true,
                    data:{
                        anne:$("#annee").val(),
                        classe:$('#promotion').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function(response){
                        if(response =="true"){
                             window.open('{{ MEDIA_URL }}detail_tranche.pdf');
                             }
    
                    },
                    error: function(request, status, err) {
                        alert((status == "timeout") ? "Timeout" : "error: " + request + status + err);
                    }
                   })
              }

           });

        })();



function trancherr(){
    let nombre = parseInt(document.querySelector("#nbre"));
    if(nombre === 1){
        var parent = document.querySelector("#affichage");
                
        parent.append(input);
    }
}




    </script>
{% endblock %}