<div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Etudiant : <span id="etudiantid"></span></h6>
                            <h6 class="mb-4" style="color: #0d6efd;">Les matières de formation professionnelle</h6>
                            <h6 class="mb-4" style="color: #a41515;">Les matières d'appuie à la formation professionnelle</h6>
                            <h6 class="mb-4" style="color: #b6effb;">Les matières de formation générale</h6>
                        </div>
                         <div class="table-responsive" >
                                                <table id="example2" class="table table-hover dataTable table-striped table_custom border-style spacing5">
                                                    <thead>
                                                        <tr>
                                                        <th>Cours</th>
                                                        <th>Point</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="txtbody2"></tbody>

                                                </table>
                                            </div>
</div>